@{
    ViewBag.Title = "About Us";
}
<div class="container">
    <h2>@ViewBag.Title</h2>
    <div class="row">
        <div class="col-md-5">
            <p>We set out to make information easier to find for prospective missionaries and their parents. Gone are the days of asking that step uncle if his daughter needed rain boots in your mission 12 years ago. Find the information you need or post a question that other missionaries can answer too.</p>
            <p>Navigate the site using the header menu. Select a mission from the mission page to take you to it's FAQ. There you can find specific details and questions from missionaries and parents alike.</p>
        </div>
        <div class="col-md-offset-2 col-md-5">
            <img src="~/Content/images/hammymish.jpg" alt="hammy ham" width="400"/>
        </div>
        </div>
</div>